<script setup lang="ts">

</script>

<template>
  <button><slot></slot></button>
</template>

<style scoped>
button {
    font-size: 2em;
    height: 2em;
    width: 50%;
    margin-bottom: 0.5em;
    background-color: rgb(166, 212, 243);
    border-color: rgb(0, 0, 0);
    margin-top: 0.5em;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    justify-content: center;
    padding: 1rem 1.75rem;
    border: 0;
    cursor: pointer;
    touch-action: manipulation;
    display: flex;
    place-items: center;
}
button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
</style>