<script setup lang="ts">
import StarFill from './StarFill.vue';
import StarHalf from './StarHalf.vue';

const props = defineProps<{value: number}>()

</script>

<template>
  <div v-if="props.value == 0.2" class="difficulty"><StarFill/></div>
  <div v-else-if="props.value == 0.3" class="difficulty"><StarFill/><StarHalf/></div>
  <div v-else-if="props.value == 0.4" class="difficulty"><StarFill/><StarFill/></div>
  <div v-else-if="props.value == 0.5" class="difficulty"><StarFill/><StarFill/><StarHalf/></div>
  <div v-else-if="props.value == 0.6" class="difficulty"><StarFill/><StarFill/><StarFill/></div>
  <div v-else-if="props.value == 0.7" class="difficulty"><StarFill/><StarFill/><StarFill/><StarHalf/></div>
  <div v-else-if="props.value == 0.8" class="difficulty"><StarFill/><StarFill/><StarFill/><StarFill/></div>
  <div v-else-if="props.value == 0.9" class="difficulty"><StarFill/><StarFill/><StarFill/><StarFill/><StarHalf/></div>
  <div v-else-if="props.value == 1" class="difficulty"><StarFill/><StarFill/><StarFill/><StarFill/><StarFill/></div>
</template>

<style scoped>
.difficulty {
  color: rgb(211, 211, 46);
}

</style>
