<script setup lang="ts">
import Sudoku from './Sudoku.vue';
import Controls from './Controls.vue';
import Menu from './Menu.vue';
import useKeyboard from './composables/useKeyboard';
import ThemeSwitcher from './ThemeSwitcher.vue';
import { useThemeStore } from './stores/theme';
import { useMetaStore } from './stores/meta';

useKeyboard()
const themeStore = useThemeStore()
const metaStore = useMetaStore()

themeStore.$subscribe(() => {
    document.body.style.backgroundColor = themeStore.t.bg
})
</script>

<template>
    <div class="container">
        <header class="title-bar">
            <h1>Sudoku</h1>
            <ThemeSwitcher />
        </header>
        <template v-if="metaStore.current">
            <div class="sudokuycontrols">
                <Sudoku />
                <Controls />
            </div>
        </template>
        <Menu v-else />
    </div>
</template>

<style scoped>
header {
    --title-color: v-bind(themeStore.t['frozen-color']);
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
}
header h1 {
    margin: 0;
    font-size: 2em;
    padding: 0 0.2em;
    display: inline;
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sudokuycontrols {
    display: flex;
    flex-direction: row;
    margin: 1em auto ;
}

@media (orientation: portrait) {
    .sudokuycontrols {
    display: flex;
    flex-direction: column;
}
}
</style>
