<script setup lang="ts">
import { computed } from 'vue';
import {SudokuNumber} from './sudoku';

const props = defineProps<{candidates?: SudokuNumber[]}>()

const allCandidates = computed<(SudokuNumber | null)[]>(() => {
    return Array.from({length: 9}).map((_,i) => {
        if(!props.candidates){
            return null;
        }
        else {
            return props.candidates.includes(i + 1 as SudokuNumber) ? i + 1 as SudokuNumber : null;
        }
    })
})
</script>

<template>
    <div class="annotations">
        <div v-for="(c, i) in allCandidates" :key="i">{{ c }}</div>
    </div>
</template>

<style scoped>
.annotations {
    font-size: 0.45em;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    justify-items: center;
    line-height: initial;
}
</style>