<script setup lang="ts">
import { useGameStore } from './stores/game';
import { SUDOKU_NUMBERS, SudokuNumber } from './sudoku'
import { useThemeStore } from './stores/theme';
import { useMetaStore } from './stores/meta';
import Button from './components/Button.vue';

const themeStore = useThemeStore()

const commands = [
    { key: 'undo', text: '⟲' },
    { key: 'redo', text: '⟳' },
    { key: 'remove', text: '⌫' },
    { key: 'annotation', text: '✎' },
] as const

export type Command = typeof commands[number]
export type CommandType = typeof commands[number]["key"]

const store = useGameStore()
const metaStore = useMetaStore()

function isCommandDisabled(commandKey: CommandType): boolean {
    switch (commandKey) {
        case 'undo':
            return !store.hasUndo.value;
        case 'redo':
            return !store.hasRedo.value;
        case 'remove':
            return !store.numbersEnabled;
        case 'annotation':
            return false;
        default:
            return true;
    }
}

function press(key: CommandType){
    switch (key) {
        case "remove":
            store.play('0')
            break;
        case "annotation":
            store.toggleAnnotationEnabled()
            break;
        case "undo":
            store.undo();
            break;
        case "redo":
            store.redo();
            break;
        default:
            break;
    }
}

function pressNumber(n: SudokuNumber){
    store.setCurrentNumber(n+'')
}

function newGame(){
    if(metaStore.won){
        metaStore.stop();
    } else if (window.confirm('Querés salir del juego actual?')){
        metaStore.stop();
    }
}
function timeIsLessThan(a: string, b: string): boolean{
    const [aMinutes, aSeconds] = a.split(':').map(x => parseInt(x));
    const [bMinutes, bSeconds] = b.split(':').map(x => parseInt(x));
    return aMinutes < bMinutes || (aMinutes == bMinutes && aSeconds < bSeconds);
}
</script>

<template>
<div class="controls" v-if="!metaStore.won">
    <div class="numbers">
        <div v-for="num in SUDOKU_NUMBERS" :key="num" class="key" :class="{ 
            completed: store.valuesCompleted[num],
            selected: store.currentNumber === num
        }" @click="pressNumber(num)">
        {{ num }}
        </div>
    </div>
    <div class="operations">
        <div v-for="command in commands" :key="command.key" class="key icon" :class="{ 
            disabled: isCommandDisabled(command.key),
            active: command.key === 'annotation' && store.annotationEnabled,
            [command.key]: true
        }" @click="isCommandDisabled(command.key) ? null : press(command.key)">
        {{ command.text }}
        </div>
        <div class="stats">
            <pre class="time">{{ store.elapsedTime }}</pre>
        </div>
        <div class="stats" v-if="metaStore.challenge">
            <span>Desafío:</span>
            <pre class="time" >{{ metaStore.challenge.time }}</pre>
        </div>
    </div>
    <div class="fill"></div>
    <Button class="button" @click="newGame()">Nuevo Juego</Button>
</div>
<div v-else class="victory">
    <h1 v-if="metaStore.challenge">{{ timeIsLessThan(metaStore.won.time, metaStore.challenge.time) ? 'Ganaste el desafío' : 'Perdiste el desafío' }}</h1>
    <h1 v-else>Ganaste!</h1>
    <p>Tiempo total: {{ metaStore.won.time }}</p>
    <p v-if="metaStore.challenge">Tiempo desafío: {{ metaStore.challenge.time }}</p>
    <div class="fill"></div>
    <Button class="button" @click="newGame()">Nuevo Juego</Button>
</div>
<button class="button-mobile" @click="newGame()">Nuevo Juego</button>
</template>

<style scoped>
.controls {
    --controls-background-hover: v-bind(themeStore.t['controls-background-hover']);
    --controls-color-text: v-bind(themeStore.t['controls-color-text']);
    --controls-disabled-color: v-bind(themeStore.t['controls-disabled-color']);
    --controls-border-color: v-bind(themeStore.t['controls-border-color']);
    --controls-bg-color: v-bind(themeStore.t['controls-bg-color']);
    --controls-completed-color: v-bind(themeStore.t['controls-completed-color']);
    --controls-selected-color: v-bind(themeStore.t['controls-selected-color']);
    padding: 1em 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
}

.victory {
    --controls-color-text: v-bind(themeStore.t['controls-color-text']);
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
}

.operations {
    --min-cell-size: 1.8em;
    --cell-size: max(min(calc(100vw / 8), calc(100vh / 12.5)), var(--min-cell-size));
    display: grid;
    grid-template-columns: repeat(2, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 0.3em;
    align-self: center; 
}

.numbers {
    --min-cell-size: 1.8em;
    --cell-size: max(min(calc(100vw / 7), calc(100vh / 10)), var(--min-cell-size));
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    text-align: center;
    font-size: min(calc(100vh / 20), calc(100vw / 20));
    color: var(--controls-color-text);
    gap: 0.1em;
    margin-bottom: 0.5em;
}

.key {
    border: 1px var(--accent-color, #444) solid;
    border-radius: 0.3rem;
    cursor: pointer;
    color: var(--controls-color-text);
    display: grid;
    place-items: center;
}

.key.disabled {
    cursor: default;
    color: var(--controls-disabled-color);
}

.numbers .key.completed {
    background-color: var(--controls-completed-color) !important;
}

.numbers .key.selected {
    background-color: var(--controls-selected-color);
    font-weight: bold;
    border-width: 3px;
}

.key:not(.disabled):hover {
    background-color: var(--controls-background-hover)
}

.key.icon {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.key.active {
    border-color: var(--controls-border-color);
    background-color: var(--controls-bg-color);
}
.stats {
    text-align: center;
    grid-column: 1 / 3;
    place-content: center;
    display: flex;
    place-items: center;
    color: var(--controls-color-text);
}

.stats pre.time {
    font-size: 3em;
    margin: 0;
}
.button {
    width: auto;
    margin: auto;
    margin-top: 0.5em;
    justify-content: center;
    font-size: 1.5em;
}
.button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
.fill {
    display: flex;
    flex: 1;
}
.button-mobile {
    display: none;
}

@media (orientation: portrait) {
    .controls {
        padding: 1em 0;
        user-select: none;
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;
        flex: 1;
    }
    .operations {
        margin-left: 4em; 
    }
    .button {
        display: none;
    }
    .button-mobile {
        display:block;
        height: 3em;
        margin-left: 3em;
        margin-right: 3em;
        background-color: rgb(166, 212, 243);
        border-color: rgb(0, 0, 0);
        margin-top: 0.5em;
        background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #FFFFFF;
        justify-content: center;
        border: 0;
        cursor: pointer;
        touch-action: manipulation;
    }
    .button-mobile:hover {
        background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    }
}

.victory {
    color: var(--controls-color-text);
    text-align: center;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.victory p {
    margin-top: 0px;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}
</style>