<script setup lang="ts">
import { ref } from 'vue';
import { useGameStore } from './stores/game';
import { useMetaStore } from './stores/meta';
import SudokuPreview from './SudokuPreview.vue';
import { useThemeStore } from './stores/theme';
import ShareModal from './ShareModal.vue';
import Button from './components/Button.vue';
import Difficulty from './components/Difficulty.vue';

const themeStore = useThemeStore()
const store = useGameStore()
const metaStore = useMetaStore()
const difficulty = ref(0.2)
const share = ref<{sudoku: number[],
    time?: string, difficulty?: number} | null>(null);
</script>

<template>
    <div class="menu" v-if="!metaStore.challenge">
        <div class="newgame">
            <div class="input">
                <span>Dificultad</span>
                <input type="range" v-model="difficulty" list="markers" min="0.2" max="1" step="0.1" />
                <datalist id="markers">
                    <option value="0.2" label="Facil"></option>
                    <option value="0.6" label="Medio"></option>
                    <option value="1" label="Dificil"></option>
                </datalist>
            </div>
            <Button @click="store.start(difficulty)">Nueva partida</Button>
        </div>
        <div class="history">
            <h3>Historial</h3>
            <ul class="listsudoku">
                <li class="sudoku" v-for="item in metaStore.last10" :key="item.puzzle.toString()" @click="share = { sudoku: item.puzzle, time: item.time, difficulty: item.difficulty }">
                    <SudokuPreview  
                        :difficulty="item.difficulty" 
                        :sudoku="item.puzzle"
                        :time="item.time" />
                </li>
            </ul>
        </div>
        <ShareModal v-if="share" :sudoku-array="share.sudoku" :time="share.time ?? ''" :difficulty="share.difficulty ?? 0" @close="share = null" />
    </div>
    <div v-if="metaStore.challenge" class="challenge">
        <h3>Desafío sudoku</h3>
        <p>Debes completar el sudoku</p> 
        <div class="difficulty">
            <p>Dificultad:</p> <Difficulty :value="metaStore.challenge.difficulty"></Difficulty> 
        </div>
        <p>Tiempo: <b>{{  metaStore.challenge.time }}</b></p>
        <Button class="boton" @click="store.startChallenge(metaStore.challenge)">Comenzar desafío</Button>

        <a class="decline" href="/">Declinar desafío y jugar nuevo sudoku</a>
    </div>
</template>

<style scoped>
.menu, .challenge {
    --frozen-color: v-bind(themeStore.t['frozen-color']);
    --border-color: v-bind(themeStore.t['border-color']);
    --menu-bg-history: v-bind(themeStore.t['menu-bg-history']);
}
.newgame {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 2em;
}

div.newgame {
    display: flex;
    place-items: center;
    place-content: center;
}

span, p {
    color: var(--frozen-color);
    font-size: 1.2em;
}

input {
    width: 100%;
}

.input {
    margin: -0.5em 0.3em;
    width: 40%;
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    text-align: center;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--frozen-color);
  font-size: 0.8em;
}
input[type="range"] {
  accent-color: rgb(54, 138, 194);
}
.history {
    align-self: center;
}

h3 {
    text-align: center;
    color: var(--frozen-color);
    font-size: 2.5em;
    margin: 0.5em;
}
.listsudoku {
    display: grid;
    grid-template-columns: repeat(5 , auto);
    justify-content: center;
    gap: 0.5em;
}

.sudoku {
    padding: .2em;
    list-style:none;
}
.sudoku:hover {
    cursor: pointer;
    background-color:var(--menu-bg-history);
    border-radius: 0.5rem;

}
.challenge {
    margin: 0px auto;
}
.boton {
    width: 50vw;
    margin: auto;
}

.decline {
    display: flex;
    justify-content: end;
    margin-top: 1em;
}

p {
    margin: 0px;
}

.difficulty {
    display: flex;
    align-self: center;
}


@media (orientation: portrait) {
 button {
    width: 90%;
    margin-bottom: 0.5em;
 }
 .input {
     width: 60%;
 }
 .listsudoku {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}
.boton {
    width: 90vw;
}
}
</style>