<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import SudokuPreview from './SudokuPreview.vue';
import { useThemeStore } from './stores/theme';
import { onClickOutside } from '@vueuse/core';
import Difficulty from './components/Difficulty.vue';

const props = defineProps<{
    sudokuArray: number[],
    time: string,
    difficulty: number,
}>();

const emits = defineEmits(['close']);
const shareUrl = computed(() => `${window.location.origin}?s=${props.sudokuArray.join('')}&t=${props.time}&d=${props.difficulty}`)
const themeStore = useThemeStore()

const target = ref<HTMLDialogElement | null>(null)
const shareInput = ref<HTMLInputElement | null>(null)

onClickOutside(target, () => emits('close'));

function copy() {
    shareInput.value?.select();
    if (shareInput.value?.value) {
        navigator.clipboard.writeText(shareInput.value?.value);
    }
}

onMounted(() => {
    target.value?.showModal();
})

function modalClick(event: MouseEvent) {
    // https://stackoverflow.com/a/26984690
    const dialog = target.value;
    if (!dialog) return;
    var rect = dialog.getBoundingClientRect();
    var isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
        rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
    if (!isInDialog) {
        emits('close');
    }
}
</script>

<template>
    <dialog class="dialog" modal-mode="mega" ref="target" @click="modalClick">
        <header>
            <h2>Desafío sudoku</h2>
        </header>
        <div>
            <div class="sudokupreview">
                <SudokuPreview :sudoku="props.sudokuArray" />
            </div>
            <div>
                <p>Desafía a pasar este sudoku en <b>{{ props.time }}</b></p>
                <div class="difficulty">
                    <p>Dificultad:</p> <Difficulty :value = props.difficulty></Difficulty>
                </div>
                <input type="text" :value="shareUrl" autofocus readonly ref="shareInput">
                <button @click="copy">copiar</button>
                <p>O <a :href="shareUrl">volvelo a jugar vos</a></p>
            </div>
        </div>
    </dialog>
</template>

<style>

.dialog {
    --background: v-bind(themeStore.t['bg']);
    --background-alt: v-bind(themeStore.t['highlighted-background-color']);
    --color: v-bind(themeStore.t['text-color']);
    background: var(var(--background));
    color: var(--color);
    border: 1px solid var(--color);
    z-index: 10;
    padding: 0;
    border-radius: 0.5em;
    box-shadow: 0.3em;
}

dialog {
    display: grid;
    max-inline-size: min(90vw, var(--size-content-3));
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    overflow: hidden;

    margin: auto;
    padding: 0;
    position: fixed;
    inset: 0;
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

dialog[modal-mode="mega"]::backdrop {
    backdrop-filter: blur(25px);
}

dialog::backdrop {
    backdrop-filter: blur(25px);
    transition: backdrop-filter .5s ease;
}

header {
    background-color: var(--background-alt);
    padding: 1em;
}

header h2 {
    margin: 0;
    text-align: center;
}

.sudokupreview {
    display: flex;
    place-content: center;
}

dialog>div {
    padding: 0.5em 1em;
}

a {
    text-decoration: underline;
}
.difficulty {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
}
p {
    margin: 0;
}

</style>