<script setup lang="ts">
import { toGrid } from './sudoku';
import { useThemeStore } from './stores/theme';
import Difficulty from './components/Difficulty.vue';
const themeStore = useThemeStore()
const props = defineProps<{
    sudoku: number[],
    difficulty?: number,
    time?: string,
}>();

const sudokuGrid = toGrid(props.sudoku);
</script>

<template>
    <div class="sudoku-preview">
        <div class="sudoku">
            <div v-for="row, i in sudokuGrid" :key="i" class="row">
                <div v-for="col, j in row" :key="j" class="col">
                    {{ col.value === 0 ? '&nbsp;' : col.value }}
                </div>
            </div>
        </div>
        <div class="labelsudoku">
            <div v-if="props.difficulty">
                <Difficulty :value="props.difficulty"/>
            </div>
            <div v-if="props.time">
                Tiempo: {{ props.time }}
            </div>
        </div>
    </div>

</template>
<style scoped>
.sudoku-preview {
    --border-color: v-bind(themeStore.t['border-color']);
    --border-width: v-bind(themeStore.t['border-width']);
    --border-width-wide: 2px;
    --min-cell-size: 1em;
    --cell-size: max(min(calc(100vw / 45), calc(100vh / 45)), var(--min-cell-size));
    --text-color: v-bind(themeStore.t['text-color']);
    --frozen-color: v-bind(themeStore.t['frozen-color']);
}
.sudoku {
    display: grid;
    color: var(--frozen-color);
    grid-template-rows: repeat(9 , var(--cell-size)) ;
    border: var(--border-width-wide) solid var(--border-color);
    width: fit-content;
    font-size: 1.3em;
}

.row {
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    border-bottom: var(--border-width) solid var(--border-color);
}

.row:nth-child(3), .row:nth-child(6) {
    border-bottom: var(--border-width-wide) solid var(--border-color);
}
.col:nth-child(3), .col:nth-child(6) {
    border-right: var(--border-width-wide) solid var(--border-color);
}

.col {
    display: flex;
    place-items: center;
    place-content: center;
    border-right: var(--border-width) solid var(--border-color);
    font-size: min(calc(100vh / 65), calc(100vw / 35));
    color: var(--frozen-color);
}

.labelsudoku {
    display: flex;
    font-size: 0.8em;
    justify-content: space-evenly;
    color: var(--frozen-color);
}
</style>