<script setup lang="ts">
import { useGameStore } from './stores/game'
import CandidatesGrid from './CandidatesGrid.vue';
import { ref } from 'vue'
import { onClickOutside } from '@vueuse/core'
import { useThemeStore } from './stores/theme';
const store = useGameStore()
const themeStore = useThemeStore()
const target = ref<HTMLDivElement | null>(null)

onClickOutside(target, () => store.setSelected(null), {ignore:['.controls', '.theme-switcher']} )

function select(row: number, col: number) {
    if (store.currentNumber){
        store.setSelected([row, col]);
        const erase: boolean = store.currentNumber === store.selectedCell?.value;
        if(store.annotationEnabled){
            store.playCandidate(erase ? '0' : store.currentNumber + '');
        } else {
          store.play(erase ? '0' : store.currentNumber + '');
        }
        if (store.selected && store.selected[0] === row && store.selected[1] === col){
            store.setSelected(null)
        }
    } else {
        if (store.selected && store.selected[0] === row && store.selected[1] === col){
            store.setSelected(null)
        } else {
            store.setSelected([row, col])
        }
    }
}
</script>

<template>
    <div class="sudoku" ref="target">
        <div v-for="row, i in store.sudoku" :key="i" class="row">
            <div v-for="col, j in row" :key="j" class="col" @click="select(i, j)" :class="{
                'frozen': col.frozen,
                'selected-area':store.selectedAreas[i][j],
                'highlighted': store.currentNumber && store.currentNumber === col.value,
                'selected': store.selected !== null && store.selected[0] === i && store.selected[1] === j,
                'wrong': col.repeated,
            }">
                <div v-if="!col.candidates">
                    {{ col.value === 0 ? '&nbsp;' : col.value }}
                </div>
                <CandidatesGrid :candidates="col.candidates" v-else>
                </CandidatesGrid>
            </div>
        </div>
    </div>
</template>

<style scoped>
.sudoku {
    --border-color: v-bind(themeStore.t['border-color']);
    --selected-color: v-bind(themeStore.t['selected-color']);
    --selected-area-color: v-bind(themeStore.t['selected-area-color']);
    --frozen-color: v-bind(themeStore.t['frozen-color']);
    --highlighted-background-color: v-bind(themeStore.t['highlighted-background-color']);
    --wrong-text-color: v-bind(themeStore.t['wrong-text-color']);
    --wrong-background-color: v-bind(themeStore.t['wrong-background-color']);
    --text-color: v-bind(themeStore.t['text-color']);
    --border-width: v-bind(themeStore.t['border-width']);
    --border-width-wide: v-bind(themeStore.t['border-width-wide']);
    --min-cell-size: 1.8em;
    --cell-size: max(min(calc(100vw / 10), calc(100vh / 12)), var(--min-cell-size));
    border: var(--border-width-wide) solid var(--border-color);
    user-select: none;
    display: grid;
    grid-template-rows: repeat(9, var(--cell-size));
    font-size: 1.3em;
    width: fit-content;
}

.row {
    display: grid;
    grid-template-columns: repeat(9, var(--cell-size));
    border-bottom: var(--border-width) solid var(--border-color);
}

.row:nth-child(3), .row:nth-child(6) {
    border-bottom: var(--border-width-wide) solid var(--border-color);
}
.col:nth-child(3), .col:nth-child(6) {
    border-right: var(--border-width-wide) solid var(--border-color);
}

.col {
    display: flex;
    place-items: center;
    place-content: center;
    border-right: var(--border-width) solid var(--border-color);
    font-size: min(calc(100vh / 20), calc(100vw / 20));

    color: var(--text-color);
}

.row .col.selected {
    background-color: var(--selected-color);
}

.col.selected-area {
    background-color: var(--selected-area-color);
}

.col.frozen {
    color: var(--frozen-color);
    font-weight: bold;
}

.highlighted {
    background-color: var(--highlighted-background-color) !important;
}

.col.wrong {
    color: var(--wrong-text-color);
    background-color: var(--wrong-background-color);
}

.col.wrong.frozen {
    color: var(--frozen-color);
}

</style>
