<script setup lang="ts">
import { useThemeStore } from './stores/theme';
import type {ThemeName } from './stores/theme';

const store = useThemeStore()
function onChange(event: Event){
    const el = event.target as HTMLSelectElement;
    if (!el){
        throw new Error('invalid event / theme')
    }
    store.setTheme(el.value as ThemeName)
}
</script>

<template>
    <div class="theme-switcher">
        <span>Theme: </span>
        <select :value="store.currentTheme" @change="onChange">
            <option v-for="theme in store.themes" :key="theme">
                {{  theme  }}
            </option>
        </select>
    </div>
</template>

<style scoped>
    select {
        padding: 0.2em 0.3em;
        font-size: 1em;
    }

    span {
        --text-color: v-bind(store.t['frozen-color']);
        color: var(--text-color);
        margin-right: 0.3em;
    }

    .theme-switcher {
        display: flex;
        place-content: center;
        align-items: center;
    }

</style>